body{
    color: white;
    background-color:#343a40;
}
.wrapper{
    width: 100%;
    padding: 5%;
    color: white;
    background-color:#343a40;
}
.profile{
    background: url(./projectImage/pagepic.jpg) no-repeat center center;
    height:300px; 
    width: 100%; 
}
.project{
    min-width: 200px;
    min-height: 360px;
    color: #000;
}
.cardImg{
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top;
    height: 100px;
    width: 100%;
}
.contact{
    text-align: center;
}
.icons{
    align-items: center;
    padding: 0 auto;
    margin: 0 auto;
}
.mediaicon a{
    font-size: small;
    text-decoration: none;
}
.title{
    text-align: center;
    width: 100%;
    color: #343a40;
    background-color: lightgray;
}
